@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: Gagalin;
  src: url("/fonts/Gagalin-Regular.otf");
}
@font-face {
  font-family: Lifehack;
  src: url("/fonts/Lifehack Medium.otf");
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 1.42;
  position: relative;
  font-weight: lighter;
  line-height: 1.7;
}
@media screen and (max-width: 768px) {
  html,
body {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  html,
body {
    font-size: 12px;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.section {
  height: 100vh;
  position: relative;
  display: flex;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2, h4 {
  font-family: "Gagalin", sans-serif;
}

h3 {
  font-family: "Lifehack", sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.container {
  width: 95%;
  max-width: 67.1428571429rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}
.container--about {
  z-index: 100;
}
.container--advantages {
  justify-content: center;
  flex-direction: column;
}
.container--flex-start {
  align-items: baseline;
}
.container--review {
  padding: 0;
  display: flex;
  flex: 1;
}
.container--slider {
  flex-wrap: nowrap;
}

.title {
  font-family: "Gagalin", sans-serif;
  font-size: 4rem;
  color: #f9b43b;
  line-height: normal;
}
.title--advantages {
  margin-bottom: 3.2142857143rem;
  color: #2f3234;
}
.title--order {
  margin-bottom: 2.8571428571rem;
}
.title--team {
  width: 100%;
  margin-bottom: 3.5714285714rem;
}
.title--slider {
  color: white;
  margin-bottom: 3.5714285714rem;
}
@media screen and (max-width: 768px) {
  .title {
    text-align: center;
  }
}

.arrow-down__svg {
  fill: white;
}

.slider__svg--buns,
.slider__svg--cheese {
  fill: #eb8c38;
}

.header {
  position: absolute;
  width: 100%;
  padding: 0.7142857143rem 0;
  z-index: 9999;
}

.header__center {
  flex: 1;
}

.header__left {
  padding-right: 4.6428571429rem;
  z-index: 999999;
}

.logo__link {
  display: block;
  width: 7.1428571429rem;
}

.header__right .btn {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .header__right .btn {
    margin-right: 1.4285714286rem;
  }
}

@media screen and (max-width: 768px) {
  .primary-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    position: fixed;
    background-color: #2f3234;
    z-index: 99999;
    transition: 0.3s;
  }
}
.primary-menu__list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .primary-menu__list {
    flex-direction: column;
  }
}
.primary-menu__item {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  font-weight: 500;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .primary-menu__item {
    flex-direction: column;
    align-items: center;
  }
}
.primary-menu__item:after {
  content: "•";
}
.primary-menu__item:last-child:after {
  display: none;
}
.primary-menu__link {
  color: inherit;
}

.primary-menu--active {
  left: 0;
}

.primary-menu--animated-close {
  animation: opacity 0.3s forwards;
}

@keyframes opacity {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.about {
  min-height: 100%;
  background-image: url("/img/video-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding: 2.8571428571rem 0;
  position: relative;
  background-color: #000;
  color: white;
}
.about:after {
  content: "";
  background-image: url("/img/texture.png");
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  top: 0;
  opacity: 0.5;
}
.about__content {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .about__content {
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 80%;
  }
}
.about__text {
  font-size: 4.6428571429rem;
  color: white;
}
@media screen and (max-width: 768px) {
  .about__text {
    font-size: 3rem;
  }
}
.about__desc {
  flex: 1 1 50%;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .about__desc {
    text-align: center;
  }
}
.about__image {
  padding: 0rem 2.5rem 5rem 2.5rem;
  background-image: url("/icons/drops.svg");
  background-size: contain;
  background-position: 100% 25%;
  background-repeat: no-repeat;
  flex: 1 1 50%;
}
@media screen and (max-width: 768px) {
  .about__image {
    padding: 0;
    flex: 0;
    min-width: 85%;
    display: flex;
    margin-bottom: 2rem;
    background-position: center;
  }
}
.about__photo {
  width: auto;
  max-height: 100%;
  display: block;
  margin: auto;
  max-width: 100%;
}
.about__arrow-down {
  position: absolute;
  bottom: 1.4285714286rem;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .about__arrow-down {
    bottom: -2rem;
  }
}

.pagination {
  z-index: 99999;
  position: fixed;
  top: 20%;
  right: 5%;
}
@media screen and (max-width: 768px) {
  .pagination {
    display: none;
  }
}
.pagination__item {
  padding-bottom: 1.4285714286rem;
}
.pagination__item--active a:after {
  content: "";
  position: absolute;
  border: 1px solid white;
  width: 1.1428571429rem;
  height: 1.1428571429rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pagination__link {
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 50%;
  background-color: white;
  position: relative;
}

.advantages {
  min-height: 100%;
  background-color: white;
  background-image: url("/img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: #2f3234;
}
.advantages__list {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .advantages__list {
    flex-wrap: wrap;
  }
}
.advantages__item {
  width: calc(100% / 3 - 20px);
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2.1428571429rem;
}
@media screen and (max-width: 480px) {
  .advantages__item {
    width: 100%;
    display: flex;
    text-align: left;
  }
}
.advantages__title {
  font-size: 1.7142857143rem;
  line-height: 1.25;
  margin-bottom: 1.7857142857rem;
}
@media screen and (max-width: 480px) {
  .advantages__title {
    margin-bottom: 1rem;
  }
}
.advantages__icon {
  max-width: 7.1428571429rem;
  margin: auto;
  margin-bottom: 1.4285714286rem;
}
@media screen and (max-width: 480px) {
  .advantages__icon {
    margin-right: 1.4285714286rem;
    max-width: 25%;
  }
}

.team {
  min-height: 100%;
  background-image: url("/img/bg-team.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  color: white;
}
.team__wrapper {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: #2f3234d4;
  align-content: center;
  align-items: center;
  padding: 0rem 5.7142857143rem;
}
@media screen and (max-width: 768px) {
  .team__wrapper {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
.team--title {
  font-size: 1.7142857143rem;
  line-height: 1.25;
  margin-bottom: 1.7857142857rem;
}
.team__item {
  display: flex;
  align-items: center;
  transition: height 0.3s;
  flex-wrap: wrap;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .team__item {
    justify-content: center;
  }
}
.team__item--active {
  transition: all 0.3s;
}
.team__item--active .team__name {
  color: #f9b43b;
}
.team__item--active .team__name:before {
  transform: rotate(0deg);
}
.team__item--active .team__content {
  height: 10.7142857143rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .team__item--active .team__content {
    height: 17.8571428571rem;
  }
}
@media screen and (max-width: 480px) {
  .team__item--active .team__content {
    height: 15.7142857143rem;
  }
}
.team__content {
  display: flex;
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
  margin-bottom: 0;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .team__content {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
.team__name {
  width: 95%;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.team__name:hover {
  cursor: pointer;
}
.team__name:before {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url(/icons/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(180deg);
  margin-right: 10px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .team__name {
    width: auto;
    font-size: 1.8rem;
  }
}
.team__photo {
  width: 100%;
  max-width: 7.1428571429rem;
  height: 7.1428571429rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.2857142857rem;
}
@media screen and (max-width: 768px) {
  .team__photo {
    margin-right: 0;
    margin-bottom: 1.2857142857rem;
  }
}
.team__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.team__about {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  max-width: 15.7142857143rem;
}
.team__post {
  font-weight: bold;
  margin-bottom: 0.7142857143rem;
  width: 100%;
}
.team__description {
  font-weight: lighter;
}

.review {
  background-color: #000;
  color: white;
}
.review .close-btn {
  right: 1.5rem;
  top: 1rem;
}
.review .close-btn:before, .review .close-btn:after {
  background-color: #e45028;
}
.review__list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  height: 100%;
}
.review__item {
  flex: 1 1 25%;
  position: relative;
  overflow: hidden;
  height: 50%;
  transition: opacity 0.3s;
}
@media screen and (max-width: 768px) {
  .review__item {
    flex: 1 1 50%;
    height: 25%;
  }
}
.review__item:hover .review__content {
  opacity: 1;
  left: 0;
}
.review__item--active .review__content {
  opacity: 1;
  left: 0;
}
.review__content {
  padding: 1.4285714286rem;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  transition: all 0.3s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .review__content {
    text-align: center;
  }
}
.review__photo {
  overflow: hidden;
  height: 100%;
}
.review__photo img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.review__title {
  margin-bottom: 1.4285714286rem;
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.7142857143rem;
}
.review__text {
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.4285714286rem;
}
@media screen and (max-width: 768px) {
  .review__text {
    margin-bottom: 0;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 480px) {
  .review__text {
    display: none;
  }
}

.review__item--overlay .review__content {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  z-index: 99999;
  opacity: 1;
  left: 0;
  transition: opacity 1s;
  display: flex;
  align-items: center;
}
.review__item--overlay .review__container {
  background-color: white;
  color: #2f3234;
  width: 50%;
  padding: 2.1428571429rem;
  border-radius: 8px;
  position: relative;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .review__item--overlay .review__container {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .review__item--overlay .review__container {
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  .review__item--overlay .review__text {
    display: block;
  }
}
.review__item--overlay .btn {
  display: none;
}
.review__item--overlay .close-btn {
  display: block;
  top: 1.7857142857rem;
}

.order {
  display: flex;
}
@media screen and (max-width: 768px) {
  .order {
    flex-wrap: wrap;
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .order {
    width: 100%;
  }
}
.order--section {
  background-color: #000;
  background-image: url("/img/bg-order.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.order__column {
  flex: 1 1 50%;
  margin-right: 1.4285714286rem;
}
.order__column:last-child {
  margin-right: 0rem;
}
@media screen and (max-width: 768px) {
  .order__column:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .order__column {
    margin-right: 0;
  }
}
.order__row {
  margin-bottom: 1rem;
  display: flex;
}
@media screen and (max-width: 480px) {
  .order__row {
    justify-content: center;
  }
}
.order__error {
  color: red;
}
.order__block {
  flex: 1;
  margin-right: 1.4285714286rem;
  color: inherit;
}
.order__block:last-child {
  margin-right: 0;
}
.order__block--radio {
  display: flex;
  align-items: center;
  flex: none;
}
.order__block--radio .order__input {
  width: auto;
  position: absolute;
  left: -714.2142857143rem;
}
.order__input {
  width: 100%;
  padding: 0.5714285714rem 1.5rem;
  border: 2px solid transparent;
  border-radius: 4px;
}
.order__input:focus {
  outline: none;
  border: 2px solid #f9b43b;
}
.order textarea {
  resize: vertical;
}

@media screen and (max-width: 480px) {
  .order__block--radio {
    flex: none;
  }
}
.order__block--radio .order__input:checked + .order__fake-button:before {
  width: 7px;
  height: 7px;
}
.order__block--radio .order__fake-button {
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin-right: 0.7142857143rem;
}
.order__block--radio .order__fake-button:before {
  content: " ";
  display: flex;
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  background-color: #e45028;
}

.container--order {
  flex-wrap: wrap;
  align-content: center;
}

.order__block--checkbox {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .order__block--checkbox {
    flex: none;
  }
}
.order__block--checkbox .order__input:checked + .order__fake-button:before {
  background-image: url("/icons/check.svg");
}
.order__block--checkbox .order__input {
  width: auto;
  position: absolute;
  left: -714.2142857143rem;
}
.order__block--checkbox .order__fake-button {
  display: flex;
  width: 1.0714285714rem;
  height: 1.0714285714rem;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin-right: 0.7142857143rem;
  border-radius: 0;
}
.order__block--checkbox .order__fake-button:before {
  content: " ";
  display: flex;
  width: 0.8571428571rem;
  height: 0.8571428571rem;
}

.menu-section {
  min-height: 100%;
  background-color: white;
  background-image: url("/img/bg-menu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: white;
}
.menu-section .title {
  color: white;
}
.menu-section__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .menu-section__wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
.menu-section__title-container {
  background-image: url("/img/bg-menu-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: 2.8571428571rem 1.4285714286rem;
  position: relative;
}
.menu-section__title-container:hover {
  cursor: pointer;
}
.menu-section__title-container:after {
  content: "";
  position: absolute;
  background-color: #000000c7;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.menu-section__title-container--1 {
  background-image: url("/img/bg-menu-1.jpg");
}
.menu-section__title-container--2 {
  background-image: url("/img/bg-menu-2.jpg");
}
.menu-section__title-container--3 {
  background-image: url("/img/bg-menu-3.jpg");
}
@media screen and (max-width: 768px) {
  .menu-section__title-container {
    padding: 2.8571428571rem 1.5rem;
  }
}
.menu-section__title {
  font-size: 2.8571428571rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  line-height: 1;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .menu-section__title {
    font-size: 1.5rem;
  }
}
.menu-section__list {
  display: flex;
  height: 100%;
}
.menu-section__close-btn {
  position: absolute;
  right: 0.7142857143rem;
  top: 1.4285714286rem;
  border: none;
  width: 30px;
  height: 30px;
  transition: all 0.3s;
  display: none;
  opacity: 0.5;
}
.menu-section__close-btn:hover {
  opacity: 1;
}
.menu-section__close-btn:before {
  content: "";
  background-color: white;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 40%;
  transform: rotate(45deg);
  transition: all 0.3s;
  border-radius: 4px;
}
.menu-section__close-btn:after {
  content: "";
  background-color: white;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 40%;
  transform: rotate(-45deg);
  transition: all 0.3s;
  border-radius: 4px;
}
.menu-section__item {
  display: flex;
  width: 5.5rem;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .menu-section__item {
    width: 4.5rem;
  }
}
.menu-section__item--active {
  width: 40rem;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .menu-section__item--active .menu-section__close-btn {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .menu-section__item--active {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 99999;
    max-width: 100%;
  }
}
.menu-section__item--active .menu-section__text {
  padding: 4.2857142857rem 2.5rem;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .menu-section__item--active .menu-section__text {
    padding: 5.7142857143rem 2.8571428571rem;
  }
}
.menu-section__item--active .menu-section__title-container {
  color: #f9b43b;
}
.menu-section__text {
  background-color: #0000008f;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.title--menu-section {
  position: absolute;
  top: 5%;
  left: 5%;
}

.contacts {
  background-image: url("/img/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}

.map__marker {
  position: absolute;
  width: 7.1428571429rem;
}
.map__marker--1 {
  top: 25%;
  left: 45%;
}
.map__marker--2 {
  top: 40%;
  left: 59%;
}
.map__marker--3 {
  top: 71%;
  left: 46%;
}
.map__marker--4 {
  top: 56%;
  left: 79%;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  display: flex;
  padding: 0.7142857143rem 0;
  background-color: #2f3234;
}
.footer:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("/img/bg-footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
.footer .container {
  z-index: 100;
}
@media screen and (max-width: 480px) {
  .footer .container {
    flex-direction: column;
  }
}
.footer__icon {
  display: flex;
  align-items: center;
}
.footer__svg {
  margin-right: 0.3571428571rem;
}
.footer__right, .footer__left {
  flex: 1 1 50%;
}
@media screen and (max-width: 480px) {
  .footer__right, .footer__left {
    flex: auto;
    text-align: center;
    margin-bottom: 15px;
  }
}
.footer__address {
  font-weight: lighter;
  font-size: 1rem;
  margin-bottom: 0.7142857143rem;
}
@media screen and (max-width: 480px) {
  .footer__address {
    margin-bottom: 0;
  }
}
.footer__number {
  font-size: 1rem;
  font-weight: bold;
  color: #e45028;
  fill: #e45028;
  display: flex;
}
@media screen and (max-width: 480px) {
  .footer__number {
    justify-content: center;
  }
}

.socials {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 480px) {
  .socials {
    justify-content: center;
  }
}
.socials__list {
  display: flex;
}
.socials__item {
  margin-right: 1.4285714286rem;
}
.socials__item:last-child {
  margin-right: 0rem;
}
.socials__link {
  display: block;
}
.socials__svg {
  opacity: 0.5;
  fill: white;
  transition: all 0.3s;
}
.socials__svg:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}
.btn__link {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #e45028;
  color: inherit;
  padding: 0.8571428571rem 1.0714285714rem;
  border-radius: 0.2857142857rem;
  transition: all 0.3s;
  border: none;
  color: white;
  display: block;
  line-height: 1;
}
.btn__link:focus {
  outline: none;
}
.btn__link:hover {
  background-color: #c1401e;
  cursor: pointer;
}
.btn--clear button {
  background-color: transparent;
  text-transform: none;
  font-weight: normal;
}
.btn--clear button:hover {
  background-color: transparent;
}
@media screen and (max-width: 480px) {
  .btn__text-d {
    display: none;
  }
}
.btn__text-m {
  display: none;
}
@media screen and (max-width: 480px) {
  .btn__text-m {
    display: block;
  }
}

.btn--black .btn__link {
  background-color: #2f3234;
}
.btn--black .btn__link:hover {
  background-color: #1f2122;
}

.close-btn {
  position: absolute;
  right: 0.7142857143rem;
  top: 1.4285714286rem;
  border: none;
  width: 30px;
  height: 30px;
  transition: all 0.3s;
  display: none;
  opacity: 0.5;
}

.close-btn:hover {
  opacity: 1;
}

.close-btn:before {
  content: "";
  background-color: white;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 40%;
  transform: rotate(45deg);
  transition: all 0.3s;
  border-radius: 4px;
}

.close-btn:after {
  content: "";
  background-color: white;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 40%;
  transform: rotate(-45deg);
  transition: all 0.3s;
  border-radius: 4px;
}

.hamburger-menu {
  width: 30px;
  height: 30px;
  align-items: center;
  overflow: hidden;
  transition: all 1s;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: flex;
    z-index: 999999;
  }
}
.hamburger-menu--active .hamburger-menu__link:after {
  transform: rotate(-45deg);
  transition: all 0.3s;
  top: 0;
}
.hamburger-menu--active .hamburger-menu__link:before {
  transform: rotate(45deg);
  transition: all 0.3s;
  top: 0;
}
.hamburger-menu--active .hamburger-menu__line {
  transform: translateX(50px);
}
.hamburger-menu__line {
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 4px;
  position: relative;
  transition: all 0.3s;
}
.hamburger-menu__link {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  position: relative;
  transition: all 0.3s;
}
.hamburger-menu__link:before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  top: -10px;
  left: 0;
  transition: all 0.3s;
}
.hamburger-menu__link:after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 0;
  transition: all 0.3s;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.slider {
  background: linear-gradient(to top, #f9b43b, #eb8c38, #f9b43b);
  color: white;
}
.slider .close-btn {
  right: 1.5rem;
  top: 1rem;
}
.slider .close-btn:before, .slider .close-btn:after {
  background-color: #e45028;
}
.slider__list {
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width: 768px) {
  .slider__list {
    max-width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .slider__list {
    max-width: 100%;
  }
}
.slider__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 100%;
  position: relative;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .slider__item {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  .slider__item {
    padding: 4.2857142857rem 0;
  }
}
.slider__picture {
  display: flex;
  flex: 1 1 50%;
}
@media screen and (max-width: 768px) {
  .slider__picture {
    height: auto;
    align-items: flex-end;
    justify-content: center;
  }
}
.slider__img {
  margin: auto;
  max-width: 90%;
  display: block;
}
.slider__kkal {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .slider__kkal {
    top: 0;
    right: 0;
  }
}
.slider__kkal-number, .slider__kkal-title {
  font-family: "Gagalin", sans-serif;
  font-size: 1.4285714286rem;
}
.slider__kkal-number {
  position: absolute;
  top: 20px;
  left: 14px;
}
.slider__kkal-title {
  font-size: 1rem;
  text-align: center;
  position: absolute;
  top: 60px;
  width: 100%;
}
.slider__btn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e4502863;
  border: none;
  width: 6.4285714286rem;
  height: 6.4285714286rem;
  border-radius: 10%;
  transition: all 0.3s;
}
.slider__btn-desc {
  font-family: "Gagalin", sans-serif;
  font-size: 1rem;
}
.slider .slider__composition-list {
  width: 20rem;
  position: absolute;
  transition: all 0.3s;
  opacity: 0;
  top: 0;
  left: 100%;
  background-color: #ffffffe6;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  color: black;
  z-index: 9999;
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .slider .slider__composition-list {
    max-width: 40vh;
  }
}
@media screen and (max-width: 480px) {
  .slider .slider__composition-list {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .slider .slider__composition-list .close-btn {
    display: block;
  }
}
.slider__burger-icon {
  width: 50px;
  height: 40px;
  margin: 0 1.4285714286rem;
}
@media screen and (max-width: 480px) {
  .slider__burger-icon {
    margin: 0;
    margin-right: 1.4285714286rem;
  }
}
.slider__composition-item {
  display: flex;
  margin: 0.8rem 2rem 0.8rem 1rem;
  align-items: center;
  flex: 1 1 100%;
}
@media screen and (max-width: 768px) {
  .slider__composition-item {
    max-width: 70%;
    margin: 1rem 2rem 0.5rem 1rem;
  }
}
@media screen and (max-width: 480px) {
  .slider__composition-item {
    max-width: 90%;
  }
}
.slider__composition-text {
  flex: 1;
}
@media screen and (max-width: 480px) {
  .slider__composition-text {
    margin-right: 1.4285714286rem;
  }
}
@media screen and (max-width: 480px) {
  .slider__composition-weight {
    width: 2.5rem;
    margin-right: 3rem;
  }
}
.slider__burger-menu {
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 6.4285714286rem;
  height: 6.4285714286rem;
}
@media screen and (max-width: 768px) {
  .slider__burger-menu {
    top: 0;
    left: 0;
  }
}
.slider__burger-menu:hover {
  transition: all 0.3s;
}
.slider__burger-menu:hover .slider__composition-list {
  display: flex;
  transition: all 0.3s;
  opacity: 1;
  visibility: visible;
}
.slider__burger-menu:hover .slider__btn {
  cursor: pointer;
  background-color: #e45028;
  transition: all 0.3s;
}
.slider__burger-menu .slider__btn--active {
  cursor: pointer;
  background-color: #e45028;
  transition: all 0.3s;
}
.slider__burger-menu .slider__composition-list--active {
  display: flex;
  transition: all 0.3s;
  opacity: 1;
  visibility: visible;
}
.slider__content {
  flex: 1 1 40%;
}
@media screen and (max-width: 768px) {
  .slider__content {
    text-align: center;
  }
}
.slider__description {
  margin-bottom: 2.5rem;
  line-height: calc(24/14);
}
.slider__action {
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .slider__action {
    justify-content: center;
  }
}
.slider__carousel {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.slider__price, .slider__currency {
  font-family: "Gagalin", sans-serif;
  color: #e45028;
  line-height: 1.5;
}
.slider__price {
  font-size: 4rem;
  margin-right: 1rem;
  line-height: 1.1;
}
.slider__currency {
  font-size: 2.1428571429rem;
  margin-right: 2rem;
}
.slider__wrap {
  flex: 1;
  overflow: hidden;
}
.slider__arrow {
  width: 5%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .slider__arrow {
    position: absolute;
    width: 10%;
    height: 100%;
  }
}
.slider__arrow--left .arrow-down__svg {
  transform: rotate(90deg);
}
@media screen and (max-width: 480px) {
  .slider__arrow--left {
    left: 0;
  }
}
.slider__arrow--right .arrow-down__svg {
  transform: rotate(-90deg);
}
@media screen and (max-width: 480px) {
  .slider__arrow--right {
    right: 0;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: OP 0.3s forwards;
}
.overlay__container {
  background-color: white;
  width: auto;
  border-radius: 8px;
  padding: 1.4285714286rem;
}
.overlay__content {
  margin-bottom: 1.4285714286rem;
}
.overlay__close {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #e45028;
  color: inherit;
  padding: 0.8571428571rem 1.0714285714rem;
  border-radius: 0.2857142857rem;
  transition: all 0.3s;
  border: none;
  color: white;
  display: block;
  line-height: 1;
  margin: auto;
}
.overlay__close:hover {
  background-color: #c1401e;
  cursor: pointer;
}
.overlay__close:focus {
  outline: none;
}

@keyframes OP {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}