@import "fonts";
@import "normalize/normalize";
@import "blocks/primary-menu";

$font: 'Ubuntu', sans-serif;
$font-titleh2: 'Gagalin', sans-serif;
$font-titleh3: 'Lifehack', sans-serif;

$normal-fsize: 0.8rem;

$orange: #e45028;
$light-orange: #f9b43b;
$dark-gray: #2f3234;

$section-height: 650px;

$photos: (1: '/img/reviews/1.png', 2:'/img/reviews/1.png', 3: '/img/reviews/1.png', 4: '/img/reviews/1.png', 5: '/img/reviews/1.png', 6: '/img/reviews/1.png', 7: '/img/reviews/1.png', 8: '/img/reviews/1.png');

@mixin theme ($dark-theme: true) {
  @if $dark-theme {
    background-color:#000;
    color: white;
  } @else {
    color: $dark-gray;
    background-color: white;
  }
}

@mixin uppercase-font ($white-color){
  font-size: $normal-fsize;
  text-transform: uppercase;
  font-weight: 500;
  color: $white-color;
}

@mixin btn {
  background-color: $orange;
  color: inherit;
  padding: 12px 15px;
  border-radius: 4px;
  transition: all 0.3s;
}

@mixin desc__text {
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.6;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1.42;
  position: relative;
}

* {
  box-sizing: border-box;
}

section {
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2, h4 {
  font-family: $font-titleh2;
}

h3 {
  font-family: $font-titleh3;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
  
.wrapper {
    overflow: hidden;
    min-width: 1100px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
.wrapper__content {
    flex: 1;
  }
  
.container {
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
    padding: 0 10px;
    box-sizing: border-box;

    &--w960 {
      max-width: 960px;
    }

    &--w1100 {
      max-width: 1100px;
    }

    &--flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--about {
      flex-direction: column;
      z-index: 100;
    }

    &--advantages {
      justify-content: center;
      flex-direction: column;
    }

    &--flex-start {
      align-items: baseline;
    }

    &--review {
      padding: 0;
    }
    
  }

.title {
  font-family: $font-titleh2;
  font-size: 72px;
  color: $light-orange;

  &--advantages {
    margin-bottom: 45px;
    color: $dark-gray;
  }
}

.header {
  position: absolute;
  width: 100%;
  padding: 10px 0;
  z-index: 9999;
}
.header__center {
  flex: 1;
}
.header__left {
  padding-right: 65px;
}

.primary-menu {
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    @include uppercase-font(white);
    font-weight: 500;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
  }
  &__item:after {
    content: "•";
  }
  &__item:last-child:after {
    display: none;
  }
  &__link {
    color: inherit;
  }
}

.btn {
  @include uppercase-font (white);
  
  &__link {
    @include btn;

    &:hover {
      background-color: #c1401e;
    }
  }

}

.about {
  min-height: $section-height;
  background-color: #000;
  background-image: url('/img/video-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding: 40px 0;
  position: relative;
  @include theme($dark-theme: true);

  &:after {
    content: "";
    background-image: url('/img/texture.png');
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    top: 0;
    opacity: 0.5;
  }

  &__content {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &__text {
    font-size: 65px;
    color: white;
  }

  &__image {
    padding: 0px 30px 80px 50px;
    background-image: url('/icons/drops.svg');
    background-size: contain;
    background-position: 100% 25%;
    background-repeat: no-repeat;
  }
}

.pagination {
  z-index: 99999;
  position: fixed;
  top: 10%;
  right: 10%;

  &__item {
    padding-bottom: 5px;

    &--active {

      a:after {
        content: "";
        position: absolute;
        background-color: white;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__link {
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
  }
}

.advantages {
  min-height: $section-height;
  background-color: white;
  background-image: url('/img/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  @include theme($dark-theme: false);

  &__list {
    display: flex;
    text-align: center;
    justify-content: space-between;
  }

  &__item {
    max-width: 300px;
    @include desc__text;
  }

  &__title {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 25px;
  }

  &__icon {
    min-height: 100px;
    margin-bottom: 25px;
  }
}

.review {
  background-color: #000;
  @include theme($dark-theme: true);
  max-height: 650px;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 25%;
    position: relative;
    overflow: hidden;

    &:hover .review__content {
      opacity: 1;
      left: 0;
    }

    &--active .review__content {
      opacity: 1;
      left: 0;
    }
  }

  &__content {
    padding: 20px;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    transition: all 0.3s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__photo {
    img {
      display: block;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    @include desc__text;
    margin-bottom: 20px;
  }

  &__button {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: $dark-gray;
    width: auto;
    padding: 10px 15px;
    border-radius: 4px;

    &:hover {
      background-color: #1f2122;
    }
  }
}
