.menu-section {
    min-height: $section-height;
    background-color: white;
    background-image: url('/img/bg-menu.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    @include theme($dark-theme: true);

    .title {
        color: white;
    }

    &__wrapper {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        @include tablets {
            width: 100%;
            max-width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }

    &__title-container {
        background-image: url('/img/bg-menu-1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        padding: rem(40px) rem(20px);
        position: relative;

        &:hover {
            cursor: pointer;
        }

        &:after {
            content: "";
            position: absolute;

            background-color: #000000c7;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        @each $number, $bg in $number-bg {
            &--#{$number} {
                background-image: $bg;
            }
        }

        @include tablets {
            padding: rem(40px) 1.5rem;
        }
    }

    &__title {
        font-size: rem(40px);
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        line-height: 1;
        z-index: 5;

        @include tablets {
            font-size: 1.5rem;
        }
    }

    &__list {
        display: flex;
        height: 100%;
    }

    &__close-btn {
        position: absolute;
        right: rem(10px);
        top: rem(20px);
        border: none;
        width: 30px;
        height: 30px;
        transition: all .3s;
        display: none;
        opacity: 0.5;
    
      
      &:hover {
        opacity: 1;
      }
      
      &:before {
        content: "";
        background-color: white;
        width: 100%;
        height: 5px;
        position: absolute;
        top: 40%;
        transform: rotate(45deg);
        transition: all .3s;
        border-radius: 4px;
      }
      
      &:after {
        content: "";
        background-color: white;
        width: 100%;
        height: 5px;
        position: absolute;
        top: 40%;
        transform: rotate(-45deg);
        transition: all .3s;
        border-radius: 4px;
      }
    }
        

    &__item {
        display: flex;
        width: 5.5rem;
        transition: all .3s;

        @include tablets {
            width: 4.5rem;
        }

        @include mobile {
            transition: opacity 0.3s;
        }

        &--active {
            width: 40rem;
            transition: all 0.3s;

            @include tablets {
                width: 30rem;
                z-index: 99999;
                overflow: hidden;
            }

            @include mobile {
                z-index: 99999;
                overflow: hidden;
                position: absolute;
                opacity: 1;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                width: 100%;
                transition: opacity .3s;
            }

            .menu-section__close-btn {
                @include tablets {
                    display: block;
                }
            }

            

            .menu-section__text {
                overflow: hidden;
                opacity: 1;

                @include tablets {
                    min-width: 25rem;
                }

            }

            .menu-section__title-container {
                color: $light-orange;
            }
        }
    }

    &__text {
        background-color: #0000008f;
        position: relative;
        overflow: hidden;
        width: 100%;
        min-width: 35rem;
        padding: 4.2857142857rem 2.5rem;
        opacity: 0;
        transition: all .2s;

        /*@include tablets {
            padding: rem(80px) rem(40px);
        }*/
    }

}

.title--menu-section {
    position: absolute;
    top: 5%;
    left: 5%;
}