.menu-section {
    min-height: $section-height;
    background-color: white;
    background-image: url('/img/bg-menu.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    @include theme($dark-theme: true);

    .title {
        color: white;
    }

    &__wrapper {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &__title-container {
        max-width: 80px;
        background-image: url('/img/bg-menu-1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
    }

    &__title {
        font-size: 40px;
        padding: 0 40px;
        transform: rotate(-90deg);
    }

    &__list {
        display: flex;
        height: 100%;
    }

    &__item {
        display: flex;

        &--active {

            .menu-section__text {
                width: 60%;
            }
        }
    }

    &__text {
        width: 0px;
    }

}