.order {
  &--section {
    background-color: #000;
    background-image: url('/img/bg-order.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include theme($dark-theme: true);
  }

  &__row {
    margin-bottom: 14px;
    display: flex;
  }

  &__block {
    flex: 1;
    margin-right: 20px;
    color: inherit;
  
    &:last-child {
      margin-right: 0;
    }
  }

  &__input {
    width: 100%;
    padding: 8px 21px;
    border: none;
    border-radius: 4px;
  }

}

.container--order {
  flex-wrap: wrap;
  align-content: center;
}