.order {
  display:flex;

  &--section {
    background-color: #000;
    background-image: url('/img/bg-order.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include theme($dark-theme: true);
  }

  &__column {
    flex: 1 1 50%;
    margin-right: 20px;

    &:last-child {
      margin-right: 20px;
    }
  }

  &__row {
    margin-bottom: 14px;
    display: flex;
  }

  &__block {
    flex: 1;
    margin-right: 20px;
    color: inherit;
  
    &:last-child {
      margin-right: 0;
    }

    &--radio {
      display: flex;
      align-items: center;

      .order__input {
        width: auto;
      }
    }
  }


  &__input {
    width: 100%;
    padding: 8px 21px;
    border: 2px solid transparent;
    border-radius: 4px;

    &:focus {
      outline: none;
      border: 2px solid $light-orange;
    }
  }

  textarea {
    resize: vertical;
  }

  &__fake-button {
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;;
    justify-content: center;
    align-items: center;

    &:before {
      content: " ";
      display: flex;
      width: 0px;
      height: 0px;
      border-radius: 50%;
      background-color: #e1942a;
    }
  }

}

.order__block--radio {
  .order__input:checked+.order__fake-button:before {
      width: 7px;
      height: 7px;
  }
}

.container--order {
  flex-wrap: wrap;
  align-content: center;
}