.pagination {
    z-index: 99999;
    position: fixed;
    top: 10%;
    right: 10%;
  
    &__item {
      padding-bottom: 5px;
  
      &--active {
  
        a:after {
          content: "";
          position: absolute;
          background-color: white;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  
    &__link {
      width: 16px;
      height: 16px;
      display: block;
      border-radius: 50%;
      border: 1px solid white;
      position: relative;
    }
  }