.primary-menu {
    @include tablets {
      display: none;;
    }

    &__list {
      display: flex;
      justify-content: space-between;
    }
    &__item {
      @include uppercase-font(white);
      font-weight: 500;
      flex: 1 1 auto;
      display: flex;
      justify-content: space-around;
    }
    &__item:after {
      content: "•";
    }
    &__item:last-child:after {
      display: none;
    }
    &__link {
      color: inherit;
    }
  }
  