.review {
    background-color: #000;
    @include theme($dark-theme: true);
  
    &__list {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      height: 100%;
    }
  
    &__item {
      flex: 1 1 25%;
      position: relative;
      overflow: hidden;
      height: 50%;
  
      &:hover .review__content {
        opacity: 1;
        left: 0;
      }
  
      &--active .review__content {
        opacity: 1;
        left: 0;
      }
    }


    &__content {
      padding: 20px;
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #00000080;
      transition: all 0.3s;
      opacity: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    &__photo {
      overflow: hidden;
      height: 100%;

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  
    &__title {
      margin-bottom: 20px;
    }
  
    &__text {
      @include desc__text;
      margin-bottom: 20px;
    }
  
    &__button {
      color: white;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 500;
      background-color: $dark-gray;
      width: auto;
      padding: 10px 15px;
      border-radius: 4px;
  
      &:hover {
        background-color: #1f2122;
      }
    }
  }
  